<% content_for :title do %>
  Blog
<% end %>


<% content_for :body_class do %>home<% end %>

<div id="ltColumn">
<% @entries.each do |entry| %>

  <h3><%= entry.title %></h3>
  <h4><%= entry.published.to_s(:mdy_slashed) %></h4>

  <%= entry.summary %>
  <p><a href="<%= entry.url %>#comments">Comments</a></p>

<% end -%>
</div> 
<div id="rtColumnWrapper">
  <div id="rtColumn">

  </div>
</div>