<% content_for :title do %>
  <% if current_user -%>
  Dashboard
  <% else -%>
  Welcome to the National Data Catalog
  <% end -%>
<% end %>

<% content_for :body_class do %>home<% end %>

<%= show_flash_message %>


				<div id="ltColumn">
				    <div id="dashboardControls">
				        <ul>
				            <li id="deleteBtn"><a class="buttonLink" href="#">Delete</a></li>
				            <li id="moveBtn">
				                <a class="buttonLink" href="#">Move To</a>
				                <div id="favoriteData_dropdown">
        				            <ul>
        				                <li>
        				                    <a class="dashboardNav" href="#">Favorited Data</a>
                                            <span>5</span>
        				                </li>
        				                <li>
        				                    <a class="dashboardNav folder" href="#">EPA</a>
                                            <span>5</span>
        				                </li>    
        				                <li>
        				                    <a class="dashboardNav folder" href="#">TRI Reporting</a>
                                            <span>50</span>
        				                </li>
        				                <li class="divider"></li>
        				                <li id="manageFolders">
        				                    <a class="dashboardNav" href="#">Manage Folders</a>
        				                    <div class="clear"></div>
        				                </li>
        				            </ul>    
        				        </div>
				            </li>
				        </ul>     
				        <div class="clear"></div>
				    </div>   
				    <table>
						<thead>
					        <tr id="titles">
								<th id="selectTitle">Select</th>
								<th>Data Set</th>
								<th class="center">Rating</th>
								<th class="right">Notes</th>
							</tr>
						</thead>
						<tbody>
							<tr class="even">
								<td class="left"><input class="checkbox" type="checkbox" name="delete" value="delete"/></td>
								<td class="dataContent">
								    <a class="dataName" href="#">Name of Data Set I’ve Favorited</a>
								    <p>Contains the bibliographic text (i.e., front page) of each patent application (non-provisional utility and plant) published weekly...</p>
								</td>
								<td class="center">
								    <ul class="star-rating rated ratedThreeStars">
    									<li class="oneStar">1</li>
    									<li class="twoStars">2</li>
    									<li class="threeStars">3</li>
    									<li class="fourStars">4</li>
    									<li class="fiveStars">5</li>
								    </ul>
								</td>
								<td class="right notes"><a class="notesAvailable" title="Notes" href="#">Notes</a></td>
							</tr>	
							<tr class="odd">
								<td class="left"><input class="checkbox" type="checkbox" name="delete" value="delete"/></td>
								<td class="dataContent">
								    <a class="dataName" href="#">Name of Data Set I’ve Favorited</a>
								    <p>Contains the bibliographic text (i.e., front page) of each patent application (non-provisional utility and plant) published weekly...</p>
								</td>
								<td class="center">
								    <ul title="Rate Now" class="star-rating you_rateThreeStars">
    									<li class="oneStar">1</li>
    									<li class="twoStars">2</li>
    									<li class="threeStars">3</li>
    									<li class="fourStars">4</li>
    									<li class="fiveStars">5</li>
								    </ul>
								</td>
								<td class="right notes"><a class="notesAvailable" title="Notes" href="#">Notes</a></td>
							</tr>
							<tr class="even">
								<td class="left"><input class="checkbox" type="checkbox" name="delete" value="delete"/></td>
								<td class="dataContent">
								    <a class="dataName" href="#">Name of Data Set I’ve Favorited</a>
								    <p>Contains the bibliographic text (i.e., front page) of each patent application (non-provisional utility and plant) published weekly...</p>
								</td>
								<td class="center">
								    <ul class="star-rating ratedThreeStars">
    									<li class="oneStar">1</li>
    									<li class="twoStars">2</li>
    									<li class="threeStars">3</li>
    									<li class="fourStars">4</li>
    									<li class="fiveStars">5</li>
								    </ul>
								</td>
								<td class="right notes"><a href="#"></a></td>
							</tr>
							<tr class="odd">
								<td class="left"><input class="checkbox" type="checkbox" name="delete" value="delete"/></td>
								<td class="dataContent">
								    <a class="dataName" href="#">Name of Data Set I’ve Favorited</a>
								    <p>Contains the bibliographic text (i.e., front page) of each patent application (non-provisional utility and plant) published weekly...</p>
								</td>
								<td class="center">
								    <ul class="star-rating ratedThreeStars">
    									<li class="oneStar">1</li>
    									<li class="twoStars">2</li>
    									<li class="threeStars">3</li>
    									<li class="fourStars">4</li>
    									<li class="fiveStars">5</li>
								    </ul>
								</td>
								<td class="right notes"><a href="#"></a></td>
							</tr>
							<tr class="even">
								<td class="left"><input class="checkbox" type="checkbox" name="delete" value="delete"/></td>
								<td class="dataContent">
								    <a class="dataName" href="#">Name of Data Set I’ve Favorited</a>
								    <p>Contains the bibliographic text (i.e., front page) of each patent application (non-provisional utility and plant) published weekly...</p>
								</td>
								<td class="center">
								    <ul title="Rate Now" class="star-rating you_rateThreeStars">
    									<li class="oneStar">1</li>
    									<li class="twoStars">2</li>
    									<li class="threeStars">3</li>
    									<li class="fourStars">4</li>
    									<li class="fiveStars">5</li>
								    </ul>
								</td>
								<td class="right notes"><a href="#"></a></td>
							</tr>
							<tr class="odd">
								<td class="left"><input class="checkbox" type="checkbox" name="delete" value="delete"/></td>
								<td class="dataContent">
								    <a class="dataName" href="#">Name of Data Set I’ve Favorited</a>
								    <p>Contains the bibliographic text (i.e., front page) of each patent application (non-provisional utility and plant) published weekly...</p>
								</td>
								<td class="center">
								    <ul title="Rate Now" class="star-rating you_rateThreeStars">
    									<li class="oneStar">1</li>
    									<li class="twoStars">2</li>
    									<li class="threeStars">3</li>
    									<li class="fourStars">4</li>
    									<li class="fiveStars">5</li>
								    </ul>
								</td>
								<td class="right notes"><a class="notesAvailable" title="Notes" href="#">Notes</a></td>
							</tr>
						</tbody>		
				    </table>        	           
				</div> 
				<div id="rtColumnWrapper">
    				<div id="rtColumn">
    				    <div id="dashboardNav" class="module">
            			    <ul>
            			        <li class="active">
            			            <a class="dashboardNav" href="#">Favorited Data</a>
            			            <span>20</span>
            			        </li>
            			        <li>
            			            <a class="dashboardNav folder" href="#">EPA</a>
            			            <a class="deleteIcon" title="Delete Folder" href="#">Delete</a>
            			            <span>5</span>
            			        </li>
            			        <li>
            			            <a class="dashboardNav folder" href="#">TRI Reporting</a>
            			            <a class="deleteIcon" title="Delete Folder" href="#">Delete</a>
            			            <span>2</span>
            			        </li>
            			    </ul>   
            			    <a class="allLink" id="addFolderLink" href="#">Add Folder</a> 
            			    <div class="clear"></div>
            			    <div id="addFolder">
            			        <input id="addFolderInput" type="text" name="word" />
            			        <button class="addFolder" type="submit">
            					    <span>Add</span>
            					</button>
            			    </div>
            			    <div class="clear"></div>
    				    </div>
    				    <div id="recentComments" class="module">
    				        <h3>My Recent Comments</h3>
    						<dl>
    							<dt><a href="#">Data Set Name</a></dt>
    							<dd>Extraction of offense, arrest, and clearance data as well as law enforcement staffing information from the FBI's Uniform Crime Reporting (UCR) Program.</dd>
    							<dd class="commentDate">Jan. 14, 2009</dd>
							
    							<dt><a href="#">Data Set Name</a></dt>
    							<dd>Extraction of offense, arrest, and clearance data as well as law enforcement staffing information from the FBI's Uniform Crime Reporting (UCR) Program.</dd>
    							<dd class="commentDate">Jan. 14, 2009</dd>
    						</dl>	
    				        <a class="allLink" href="#">View All »</a> 
    				    </div>  
    				    <div id="yourRatings" class="module">
    				        <h3>Your Recent Ratings</h3>
    				        <ul>
    				            <li><a href="#">2005 Toxics Release Inventory data for Guam</a></li>
    				            <li><a href="#">2005 Toxics Release Inventory data for Puerto Rico</a></li>
    				            <li><a href="#">2005 Toxics Release Inventory data for the District of Columbia</a></li>
    				        </ul>    
    				    </div>    
    				</div>  
				</div> 
				
								<div class="clear"></div> 
			</div>