<% content_for :title do %>
  Welcome to the National Data Catalog
<% end %>

<% content_for :body_class do %>home<% end %>

<%= show_flash_message %>

<div id="ltColumn">

</div> 
<div id="rtColumnWrapper">
  <div id="rtColumn">
    
    <div id="recentComments" class="module">
      <h3>My Recent Comments</h3>
      <dl>
        <dt><a href="#">Data Set Name</a></dt>
        <dd>Extraction of offense, arrest, and clearance data as well as law enforcement staffing information from the FBI's Uniform Crime Reporting (UCR) Program.</dd>
        <dd class="commentDate">Jan. 14, 2009</dd>

        <dt><a href="#">Data Set Name</a></dt>
        <dd>Extraction of offense, arrest, and clearance data as well as law enforcement staffing information from the FBI's Uniform Crime Reporting (UCR) Program.</dd>
        <dd class="commentDate">Jan. 14, 2009</dd>
      </dl>	
      <a class="allLink" href="#">View All »</a> 
    </div>  
    <div id="yourRatings" class="module">
      <h3>Your Recent Ratings</h3>
      <ul>
        <li><a href="#">2005 Toxics Release Inventory data for Guam</a></li>
        <li><a href="#">2005 Toxics Release Inventory data for Puerto Rico</a></li>
        <li><a href="#">2005 Toxics Release Inventory data for the District of Columbia</a></li>
      </ul>    
    </div>    
  </div>  
</div> 

<div class="clear"></div> 
</div>