<% content_for :body_class do %>home<% end %>

<% content_for :title do %>
  Welcome to the National Data Catalog
<% end %>

<%= show_flash_message %>
<% content_for :feature_box do %>
  <div id="featureBox">
    <div id="feature_video">
      <object width="370" height="250"><param name="movie" value="http://www.youtube.com/v/szQhc1ndURY&hl=en_US&fs=1&rel=0&hd=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/szQhc1ndURY&hl=en_US&fs=1&rel=0&hd=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="370" height="250"></embed></object>
    </div>

    <div id="catalogDescription">
      <p id="featureDescription">The National Data Catalog is an open platform for government data sets and APIs, making it easy to find datasets by and about government, across all levels (federal, state, and local) and across all branches (executive, legislative, and judicial). The data here is imported from several sources and curated by our staff. Currently, we catalog data from:</p>
      <ul>
        <li><a href="http://data.gov">Data.gov</a></li>
        <li><a href="http://data.octo.dc.gov">Washington, D.C.</a></li>
        <li><a href="http://www.utah.gov/data/">Utah</a></li>
        <li>The Sunlight Foundation and its partners</li>
      </ul>
    </div> 
    <p class="clear" id="featureBlurb">The National Data Catalog is a project of the <a href="http://sunlightlabs.org">Sunlight Labs</a> at the <a href="http://sunlightfoundation.com">Sunlight Foundation</a>. The platform consists of an API and a Web application. The source code is open source and the data is freely available via our API.</p>
    <div class="clear"></div> 
  </div> 
<% end %>
 
<div id="ltColumn">
<p>With an account on the National Data Catalog, you'll be able to mark data sources as favorites, participate in discussions, and contribute to documentation.</p>
<p>For developers and researchers, <%= link_to "signing up", signup_url %> is the only way to obtain API keys for programmatic access to the National Data Catalog.</p>
<a id="lg_signup" class="buttonLink" href="<%=signup_url %>">Sign Up</a>
</div> 
<div id="rtColumnWrapper">
  <div id="rtColumn">
    
    <div id="features" class="module">
      <h3>Open Alpha</h3>
      <p>This site is currently in an open alpha. There will be bugs. Please report feedback and problems via the <%= link_to "contact form", contact_path %>.</p>      
    </div>      
  </div>  
</div> 

<div class="clear"></div> 
