<% content_for :title do %>
  Welcome to the National Data Catalog
<% end %>

<% content_for :body_class do %>home<% end %>

<%= show_flash_message %>

<div id="ltColumn">
<p>Some intro copy here.</p>
</div> 
<div id="rtColumnWrapper">
  <div id="rtColumn">
    
    <div id="about" class="module">
      <h3>About</h3>
      <p>Some intro copy here.</p>
    </div>  
    <div id="features" class="module">
      <h3>Featured Data</h3>
      <p>Some intro copy here.</p>
    </div>    
  </div>  
</div> 

<div class="clear"></div> 
</div>