log/*.*
db/*.db
db/*.sqlite3
*.sqlite
db/schema.rb
tmp/*
.DS_Store
doc/api
doc/app
config/database.yml
config/api.yml
config/mail_settings.yml
config/mailer.yml
config/analytics.yml
config/server.yml
public/javascripts/all.js
public/stylesheets/all.css
