<div id="content_tabs">
  <ul>
    <li id="nav_dataSources"><a class="buttonLink active" href="<%= admin_sources_path %>">Data Sources</a></li>
    <li id="nav_dataSuggestions"><a class="buttonLink" href="<%= admin_data_suggestions_path %>">Data Suggestions</a></li>
    <li id="nav_userAccounts"><a class="buttonLink" href="<%= admin_users_path %>">User Accounts</a></li>
    <li id="nav_contactSubmissions"><a class="buttonLink" href="<%= admin_contact_submissions_path %>">Contact Submissions</a></li>
  </ul>    
</div>  
