h1 a {  background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/logo.png", sizingMethod="crop"); }

div#nav li { float: left; }
div#utility { width: 480px;}

li#nav_dashboard a {  background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/nav_dashboard.png", sizingMethod="crop"); }

