<% content_for :title do %>
  My Profile
<% end %>

<p>
  <strong>Email:</strong>
  <%=h @user.email %>
</p>

<p>
  <strong>Primary API Key:</strong>
  <%=h @user.api_key %>
</p>

<%= link_to 'Edit', edit_profile_path %>