<ul class="star-rating rated <%= star_class(rating) %>">
  <li class="oneStar">1</li>
  <li class="twoStars">2</li>
  <li class="threeStars">3</li>
  <li class="fourStars">4</li>
  <li class="fiveStars">5</li>
</ul>