development: &default
  database: dcweb_development
  username: root
  password: 
  adapter:  mysql
  host:     localhost

test:
  <<: *default
  database: dcweb_test

cucumber:
  <<: *default
  database: dcweb_test

selenium:
  <<: *default
  database: dcweb_test