<h4>Most Useful Comments</h4>
<ul id="usefulComments">
  <li class="left">
    <div class="comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut bibendum ante. Morbi risus elit, porta sit ametmattis fermentum, fringilla id augue. Donec pretium venenatis lorem, quis sagittis lacus elementum sit amet. Aenean euismod placerat tortor vitae luctus.</div>
    <div class="rating">
      <form action="#" method="post">
        <button title="Vote This Comment Up" class="thumbUp" type="submit">
          <span>Vote This Comment Up</span>
        </button>    
      </form>    
      <span class="ratingNumber">10</span>
    </div>    
    <span class="commentDate">Jan. 14, 2009</span>
    <span class="author">by <a href="#">james1251</a></span>
  </li>
  <li class="right">
    <div class="comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut bibendum ante. Morbi risus elit, porta sit ametmattis fermentum, fringilla id augue. Donec pretium venenatis lorem, quis sagittis lacus elementum sit amet. Aenean euismod placerat tortor vitae luctus.</div>
    <div class="rating">
      <form action="#" method="post">
        <button title="Vote This Comment Up" class="thumbUp" type="submit">
          <span>Vote This Comment Up</span>
        </button>    
      </form>    
      <span class="ratingNumber">10</span>
    </div>    
    <span class="commentDate">Jan. 14, 2009</span>
    <span class="author">by <a href="#">james1251</a></span>
  </li>
  <li class="clear"></li>
</ul>	
<div class="clear"></div>