<div id="tags" class="module">
  <h3>Tags</h3>
  <ul>
    <li><a href="#">Chemical Pollution</a></li>
    <li><a href="#">EPA</a></li>
    <li><a href="#">TRI Reporting</a></li>
  </ul>  
  <a class="allLink" id="addTagLink" href="#">Add a Tag</a>
  <div id="addTag">
    <input id="addTagInput" type="text" name="word" />
    <button class="addTag" type="submit">
      <span>Add</span>
    </button>
  </div>
</div>