<div id="similarSets" class="module">
  <h3>Similar Data Sets</h3>
  <ul>
    <li><a href="#">2005 Toxics Release Inventory data for Guam</a></li>
    <li><a href="#">2005 Toxics Release Inventory data for Puerto Rico</a></li>
    <li><a href="#">2005 Toxics Release Inventory data for the District of Columbia</a></li>
  </ul>
</div>