<ul class="pagination">
  <li>
  <% if @page > 1 -%>
    <%= link_to "&laquo; Previous", "?page=#{@page - 1}" %>
  <% end -%>
  <% @pages.each do |p| %>
    <% if p.nil? %>
      &middot;&middot;&middot;
    <% elsif @page == p[:number]  %>
      <%= p[:number] %>
    <% else %>
      <%= link_to p[:number], p[:path] %>
    <% end %>
  <% end -%>
  <% if @page < @sources.page_count -%>
    <%= link_to "Next &raquo;", "?page=#{@page + 1}" %>
  <% end -%>
  </li>
</ul>
