<div class="tableNav">
  <%= render 'shared/pagination', :docs => @sources %>
</div>
<%= render 'shared/source_table' %>   
<div class="tableNav">
  <%= render 'shared/pagination', :docs => @sources %>
</div>
