<% content_for :title do %>
  Contact Us
<% end %>

<div id="ltColumn">
    
    <%- flash.each do |name, msg| -%>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <%- end -%>
    <% content_for :body_class do %>submission<% end %>

    <p>Have a question or comment about the site? Submit it below.</p>
    <p>If you have a question about a particular data source, use the Comment or Report a Problem tool on that data source's page.</p>

    <% form_for @contact_submission, :url => contact_submission_path do |f| %>
        <%= f.error_messages custom_error_messages %>
        <ul>
            <%= render :partial => "form", :object => f %>
            <li>
                <button class="submit" id="contact_submission_submit" type="submit" value="Submit" name="commit">
                    <span>Submit</span>
                </button>
            </li>    
        </ul>
    <% end %>
</div>
<div id="rtColumnWrapper">
    <div id="rtColumn" class="withBg">
        
    </div>    
</div>
<div class="clear"></div>    