<div id="contentHeader">
  <% if params[:action] == 'dashboard' && !current_user %>
    <%= yield(:feature_box) %>
  <% else %>
    <h2><%= h yield(:title) %></h2>
    <%= yield(:tabs) %>
  <% end %>
</div>

<%= yield %>