<div id="footerWrapper">
  <div id="footer">
    <div id="footerNav">
      <ul>
        <li id="navfooter_about"><a href="#">About</a></li>
        <li id="navfooter_contact"><a href="#">Contact</a></li>
      </ul>    
    </div> 
    <div id="recentData">
      <h4>Recent Data</h4>
      <ul>
        <li><a href="#">2005 Toxics Release Inventory data for Guam</a></li>
        <li><a href="#">2005 Toxics Release Inventory data for Puerto Rico</a></li>
        <li><a href="#">2005 Toxics Release Inventory data for the District of Columbia</a></li>
        <li><a href="#">2005 Toxics Release Inventory data for Guam</a></li>
      </ul>    
    </div>
    <div id="HigestRatedData">
      <h4>Highest Rated Data</h4>
      <ul>
        <li>
          <a href="#">2005 Toxics Release Inventory data for Guam</a>
          <ul class="star-rating ratedThreeStars">
            <li class="oneStar">1</li>
            <li class="twoStars">2</li>
            <li class="threeStars">3</li>
            <li class="fourStars">4</li>
            <li class="fiveStars">5</li>
          </ul>
          <div class="clear"></div>  
        </li>
        <li>
          <a href="#">2005 Toxics Release Inventory data for Puerto Rico</a>
          <ul class="star-rating ratedThreeStars">
            <li class="oneStar">1</li>
            <li class="twoStars">2</li>
            <li class="threeStars">3</li>
            <li class="fourStars">4</li>
            <li class="fiveStars">5</li>
          </ul>
          <div class="clear"></div>  
        </li>
        <li>
          <a href="#">2005 Toxics Release Inventory data for the District of Columbia</a>
          <ul class="star-rating ratedThreeStars">
            <li class="oneStar">1</li>
            <li class="twoStars">2</li>
            <li class="threeStars">3</li>
            <li class="fourStars">4</li>
            <li class="fiveStars">5</li>
          </ul>
          <div class="clear"></div>  
        </li>
        <li>
          <a href="#">2005 Toxics Release Inventory data for Guam</a>
          <ul class="star-rating ratedThreeStars">
            <li class="oneStar">1</li>
            <li class="twoStars">2</li>
            <li class="threeStars">3</li>
            <li class="fourStars">4</li>
            <li class="fiveStars">5</li>
          </ul>
          <div class="clear"></div>  
        </li>
      </ul>    
    </div> 
    <div class="clear"></div>  
  </div>   
</div>